$main-color:           #1976D2;
$main-color--light:    #E3F2FD;

$text-color:           #666;
$btn-shadow-color:     #666;
$input-border-color:   1px solid #999;

$canvas-width:         550px;
$canvas-height:        550px;
$toolbar-width:        150px;
$toolbar-padding:      20px;
